.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1f1f1f;
  background-image: url('../log4.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  text-align: center;
}

.login-form h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #000;
  font-size: 16px;
}

.login-form input::placeholder {
  color: #ccc;
}

.login-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #ff00ff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #cc00cc;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.alert-success {
  background-color: #00ff00;
  color: #000;
}

.alert-error {
  background-color: #ff0000;
  color: #fff;
}